In [26]:
import pandas as pd

from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [27]:
engine = create_engine('mysql://root:Pancakes89@localhost:3306/washu')
conn = engine.connect()

In [30]:
data = pd.read_sql("Select * from Ice_Cream", conn)

In [31]:
data

       Flavor  Price
0   Chocolate    1.5
1     Vanilla    1.0
2  Strawberry    1.7

In [20]:
data = engine.execute('Select * from Ice_Cream')

for record in data:
    print(record)

('Chocolate', 1.5)
('Vanilla', 1.0)
('Strawberry', 1.7)

In [21]:
data = engine.execute('Select * from Ice_Cream Where Price >= 1.25')

for record in data:
    print(record)

('Chocolate', 1.5)
('Strawberry', 1.7)

In [22]:
data = engine.execute('Select Flavor from Ice_Cream')

for record in data:
    print(record)

('Chocolate',)
('Vanilla',)
('Strawberry',)